In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel("train.xlsx")

In [3]:
def save():
     if df1["category"].value_counts()[0] != df1["category"].value_counts()[1]:
        print("yes")
        if df1["category"].value_counts()[0] >= df1["category"].value_counts()[1]: # cat [5172] >= Dog [4804]
            k = df1["category"].value_counts()[0] - df1["category"].value_counts()[1] # Dog [5172] - cat [4804]
            cat = df1.loc[df1['category'] == "cat"] # creating Dataframe that contains only cat data
            dog = df1.loc[df1['category'] == "dog"] # creating Dataframe that contains only Dog data
            example_df = cat.sample(n=df1["category"].value_counts()[1]).reset_index(drop=True) # Droping 384 value from Cat column
            t = pd.concat([example_df,dog],axis =0) #concating both DataFrame
            return t
            
        elif df1["category"].value_counts()[1] >= df1["category"].value_counts()[0]: # 4804 >= 5172
            k = df1["category"].value_counts()[1] - df1["category"].value_counts()[0] # same as above 
            cat = df1.loc[df1['category'] == "cat"]
            dog = df1.loc[df1['category'] == "dog"]
            example_df = dog.sample(n=df1["category"].value_counts()[0]).reset_index(drop=True)
            t1 = pd.concat([example_df,cat],axis =0)
            return t1

In [4]:
df = save()

yes

In [5]:
df

      Unnamed: 0   filename category
0           5315   9805.jpg      cat
1           4698  11783.jpg      cat
2          12015   8747.jpg      cat
3           9868   2166.jpg      cat
4           1915   7418.jpg      cat
...          ...        ...      ...
9968        6265   9777.jpg      dog
9969        5734   8169.jpg      dog
9970       11284    241.jpg      dog
9974         860  10427.jpg      dog
9975        7270   3455.jpg      dog

[9608 rows x 3 columns]